body {
    padding: 0px;
    margin: 0px;
    background: #f2f6e9;
    color: black;
   }

header {
    position: relative;
    width: 100%;
    height: 11%;
    background-color: rgb(5, 100, 208);
}

#description{
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    color: white;
}

#logo{
    margin-left: 1390px;
}

.navbar {
    background: rgb(5, 100, 208);
   }
   .nav-link, .navbar-brand {
    color: white;
    cursor: pointer;
    font-size: large;
   }
   .nav-link {
    margin-right: 4em ;
    margin-left: 4em ;
   }
   .nav-link:hover {
    color: #000;
   }
   .navbar-collapse {
    justify-content: center;
   }

#intro {
    text-align: center;
    margin-top: 10px;
    font-size: xx-large;
}

#texte {
    text-align:justify;
    font-size: larger;
    margin-left: 10px;
    margin-right: 10px;
    
}