body, html {
    height: 100%;
    margin-top: 0%;
   
    width:100%;
}

#logo{
    margin-top: 0;
    margin-left: 1390px;
}

header {
    position: relative;
    width: 100%;
    height: 11%;
    background-color: rgb(5, 100, 208);
}
#description{
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    color: white;
}

.spass{
    height:50px;
    width: 10%
}


.wrapper {
    display: flex;
    height: calc(100vh - 68px); /* Ajustement pour la hauteur de l'en-tête */
}

.navbar {
    margin: 0;
    padding-left: 0;
    height: 20%;
    width: 4%;
    border:#666;
    
  
    
}
.cercle{
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #000000;
    
    
    
    
}
.image-container img {
    max-width: 100%;
    height: auto;
}

.separator {
    width: 1px;
    background-color: #ddd;
}

.right-panel {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
}

.offreemploi {
    background-color: white;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.job-listing h3 {
    margin-top: 0;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}
